# .env
DB_USER=kaizen_admin
DB_PASSWORD=admin
DB_NAME=ie_unud_kaizens

PGADMIN_EMAIL=
PGADMIN_PASSWORD=

# For Production Frontend (Replace with the Central PC's static IP address)
NEXT_PUBLIC_API_URL=